@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "daisyui" {
  themes: light, dark;
}
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));